footer {
  background: #6278f7;
}
.rodape {
  color: #fff;
  padding: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.rodape ul {
  display: flex;
  gap: 32px;
}
.rodape ul li {
  display: inline-block;
}
