@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Prata&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.times {
  text-align: center;
}

h1 {
  font-size: 40px;
  color: #6278f7;
  border-bottom: 4px solid #6278f7;
  display: inline-block;
  padding-bottom: 24px;
  margin: 32px 0;
}

h1,
h2 {
  font-family: 'Prata', serif;
}

/*
- Font sizes (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/* 
ao passar um callback via props, nomei com "onAdd" na key da prop
e o callback nomei na convenção normal de funções javascript

Quando for passar o callback em um evento, coloque handler ou handle

*/
